html
  head
    title Loading In Accomms
    link(rel="stylesheet", href="../../css/output.css")
    script(src="https://kit.fontawesome.com/a0bcd08329.js" crossorigin="anonymous")
    link(rel="icon", href="/assets/favicon.png")
  body.bg-secondary.min-h-screen(class="max-w-[2200px]").m-auto
    include partials/_nav.pug
    section.m-12
    - const studentAccomsList = data.student[0].accommodations.map((accomm)=>accomm.name)
    h1.text-2xl.mb-12.text-center.text-primary(class='md:text-3xl lg:text-4xl xl:text-5xl') Add Accommodations
    form.z-10.relative.text-neutral.bg-base-100.grid.gap-8.bg-base-100.px-4.py-4(class="md:px-4 md:gap-6 lg:gap-10 md:w-5/6 md:m-auto lg:w-3/4 lg:m-auto lg:text-lg lg:p-6 xl:text-xl xl:p-12 xl:m-auto" action="/student/addAccommodations" method="POST" class="accommodation__form")
      div.text-accent.grid
        p.text-3xl.mb-8 ID Number 
        input(type="text" name="ID" value=data.student[0].ID)
      for list in data.accommodations
        section.collapse
          h1.collapse-title.text-4xl.text-secondary= JSON.stringify(Object.keys(list)[0]).split('"').join('').toUpperCase()
          input(type="checkbox")
          section.collapse-content.grid.text-secondary
            for category in list 
              for subheading in Object.keys(category)
                div.flex.flex-col
                  h1.text-2xl.underline.mt-4(class='font-bold')= subheading
                  for accomm in category[subheading]
                    div.grid.grid-cols-4.mb-2(class="lg:grid-cols-3 xl:grid-cols-4 md:text-lg lg:text-xl xl:text-2xl sm:px-2 md:px-2 lg:px-6")
                      if studentAccomsList.includes(accomm)
                        label.col-span-3(for= accomm class="   lg:col-span-2 xl:col-span-3")= accomm
                        input(type="checkbox" checked name= accomm ) 
                      else
                        label.col-span-3(for= accomm class="  lg:col-span-2 xl:col-span-3 ")= accomm
                        input(type="checkbox" name= accomm )
                                  
      input(type="submit", value="Submit" class="btn btn-secondary text-md w-1/2 m-auto") 
  include partials/_footer.pug