
html 
  include partials/_head.pug
  body
    include partials/_nav.pug
    h1 Search a student 
    form(action="/student/searchStudent" method="GET")
      p ID Number
        input(type="text" name="ID" placeholder="")
      input(type="submit", value="Search!")
  if data
    section.student__info
      h1 Full Name: #{data.name}
      h2(class='ID') ID Number: #{data.ID} 
      h2 Grade: #{data.grade} 
      h2 Case Manager: #{data.caseManager}
      h3 Primary Exceptionality: #{data.primary}
      h1 Goal History: 
    for grade in data.history 
      - var gradeCheck = grade[0].grade
        case gradeCheck
              when '0': h1 Kindergarten
              when '1': h1 1st Grade 
              when '2': h1 2nd Grade 
              when '3': h1 3rd Grade 
              when '13': h1 Post-School\
              default: h1 #{gradeCheck}th Grade
        section.grade__info
          section.carousel__container
            for goal in grade 
              section.goal__info
                  span= goal.text + '  ||  '
                  span= goal.succeed.toString().toUpperCase() + '  ||  '
                  span= goal.notes
    a(href="/student/addNewStudent") Add a new student
    include partials/_footer.pug 
//- action="/student/searchStudent" method="GET"