
html 
  include partials/_head.pug
  body
    include partials/_nav.pug
    section.student
      section.student__search
        h1.searchStudent__title Search a student 
        form(action="/student/searchStudent" method="GET" class="search__form")
          input(type="text" name="ID" placeholder="Use '123' for testing" class='input')
          input(type="submit", value="Search!" class='search__btn')
      if data
          section.student__info
            h1 Full Name: #{data.name}
            h1(class='ID') ID Number: #{data.ID} 
            h1 Grade: #{data.grade} 
            h1 Case Manager: #{data.caseManager}
            h1 Primary Exceptionality: #{data.primary}
            h1 Next IEP: #{data.IEP}
          if data.presentation.length + data.response.length + data.setting.length + data.scheduling.length >0 
            h1.searchStudent__title Accommodations:
            if data.presentation.length>0
              h1.accommodations__title Presentation
              section.accommodations
                for entry in data.presentation
                  section.accommodation__background
                    div.accommodation__container 
                      span= entry.name
            if data.response.length>0
              h1.accommodations__title Response
              section.accommodations
                for entry in data.response
                  section.accommodation__background
                    div.accommodation__container 
                      span= entry.name
            if data.setting.length>0
              h1.accommodations__title Setting
              section.accommodations
                for entry in data.setting
                  section.accommodation__background
                    div.accommodation__container 
                      span= entry.name
            if data.scheduling.length>0
              h1.accommodations__title Scheduling
              section.accommodations      
                for entry in data.scheduling
                  section.accommodation__background
                    div.accommodation__container 
                      span= entry.name
                 
      if data
        h1.searchStudent__title Goal History:
        for grade in data.history 
          - var gradeCheck = grade[0].grade
          section.grade__info__container
            case gradeCheck
                  when '0': h1.large.grade__header Kindergarten
                  when '1': h1.large.grade__header 1st Grade 
                  when '2': h1.large.grade__header 2nd Grade 
                  when '3': h1.large.grade__header 3rd Grade 
                  when '13': h1.large.grade__header Post-School\
                  default: h1.large.grade__header #{gradeCheck}th Grade
            section.grade__info
              section.carousel__container
                for goal in grade
                  if goal.succeed === true
                    section.goal__info.goal__attained.attained
                      section.text__container
                          span.bold Domain: 
                          span= goal.domain
                      section.text__container
                          span.bold Goal: 
                          span= goal.text
                      section.text__container
                          span.bold Attained: 
                          span= goal.succeed.toString().toUpperCase()
                      section.text__container
                          if goal.notes
                            span.bold Notes: 
                            span= goal.notes
                  else
                    section.goal__info
                      section.text__container
                          span.bold Domain: 
                          span= goal.domain
                      section.text__container
                        span.bold Goal: 
                        span= goal.text
                      section.text__container
                        span.bold Attained: 
                        span= goal.succeed.toString().toUpperCase()
                      section.text__container
                        if goal.notes
                          span.bold Notes: 
                          span= goal.notes
    include partials/_footer.pug 
//- action="/student/searchStudent" method="GET"