
html 
  include partials/_head.pug
  body
    include partials/_nav.pug
    h1 Search a student 
    form(action="/student/searchStudent" method="GET")
      p ID Number
        input(type="text" name="ID" placeholder="")
      input(type="submit", value="Search!")

    h1 Full Name: #{name}
    h2(class='ID') ID Number: #{ID} 
    h2 Grade: #{grade} 
    h2 Case Manager: #{caseManager}
    h3 Primary Exceptionality: #{primary}
    h1 Goal History: 

    for goal in data.history 
      -var goal = goal[0]
      - var gradeCheck = goal.grade
          case gradeCheck
            when '0': h1 Kindergarten
            when '1': h1 1st Grade 
            when '2': h1 2nd Grade 
            when '3': h1 3rd Grade 
            when '13': h1 Post-School\
            default: h1 #{gradeCheck}th Grade
      div 
        h3= goal.domain 
        span= goal.text 
        br
        span Attained? #{goal.succeed.toString()[0].toUpperCase()} 
        span= goal.notes


    a(href="/student/addNewStudent") Add a new student
   include partials/_footer.pug 
//- action="/student/searchStudent" method="GET"