include partials/_head.pug
html 
  head
  body
    h1 Search a student 
    form(action="/student/searchStudent" method="GET")
      p ID Number
        input(type="text" name="ID" placeholder="")
      input(type="submit", value="Search!")

    h1 Full Name: #{name}
    h2(class='ID') ID Number: #{ID} 
    h2 Grade: #{grade} 
    h3 Primary Exceptionality: #{primary}
    h1 Goal History: 
    if history
      ul 
        h3 Kindergarten 
        for goal in history[0]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 First
        for goal in history[1]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 Second
        for goal in history[2]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 3
        for goal in history[3]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 4
        for goal in history[4]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 5
        for goal in history[5]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 6
        for goal in history[6]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 7
        for goal in history[7]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 8
        for goal in history[8]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 9
        for goal in history[9]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 10
        for goal in history[10]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 11
        for goal in history[11]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 12
        for goal in history[12]
          div.goal__container
            div.goal__information
              h4 Domain
              span= goal.goal.domain
            div.goal__information
              h4 Text
              span= goal.goal.text
            div.goal__information
              h4 Succeed
              if goal.goal.succeed === true
                span.green= goal.goal.succeed
              else
                span.red= goal.goal.succeed
            div.goal__information
              h4 Notes
              span= goal.goal.notes
        h3 Post
    a(href="/student/addNewStudent") Add a new student
    script(src="../js/student.js") 
//- action="/student/searchStudent" method="GET"